
<p>
  This is content in DOM managed by Leaflet and uses data bindings.
</p>

Values: {{location.lat}}, {{location.lng}}
<br>
Edit latitude: {{input value=location.lat}}
<br>
Edit longitude: {{input value=location.lng}}

<button {{action 'popUpClicked'}}>PopUp Clicked</button>

